
/* ------------------------------------------------------------------------- *
 *  Responsive
/* ------------------------------------------------------------------------- */

@media only screen and (min-width: 1441px) {
    .full .fullslider .flexslider {max-width: 100%;}
}

@media only screen and (max-width:1140px) {

    #sidefeed {
        display: none;
    }

    #search-overlay .search-overlay-inner {
        padding-left: 0;
    }

    .sidefeed-open #wrapper {
        position: relative;
        -webkit-transform: translate3d(0, 0, 0) !important;
        -ms-transform: translate3d(0, 0, 0) !important;
        -o-transform: translate3d(0, 0, 0) !important;
        transform: translate3d(0, 0, 0) !important;
    }

    #heading.sixth-nav .top-wrapper .side-woocommerce {
        display: none;
    }

    #heading.sixth-nav .nav-wrapper .nav-social,
    #heading.sixth-nav .nav-wrapper .side-woocommerce {
        display: block;
    }

    .footerwidget > div {
        padding: 0px 5px;
    }

    .container, .boxed .container {
        width: 720px;
    }

    #wrapper.boxed, .boxed .nav-container .nav-wrapper {
        width: 764px;
    }

    .normal .post-container .main-post,
    .fullwidth .post-container .main-post,
    .boxed .normal .post-container .main-post {
        width: 100%;
        margin-right: auto;
        float: none;
    }

    .post-container .sidebar, .post-container .sidebar-container {
        float: none;
        width: 100%;
    }

    .post-container .sidebar-container {
        -webkit-columns: 100px 2;
        -moz-columns: 100px 2;
        columns: 100px 2;
        -webkit-column-gap: 20px;
        -moz-column-gap: 20px;
        column-gap: 20px;
    }

    .post-container .sidebar-container aside:first-child {
        margin-top: 0;
    }

    /** heading **/
    #heading.fifth-nav .iklan-wrapper, #heading.four-nav .iklan-wrapper {
        width: 100%;
        margin-bottom: 20px;
    }

    .promocentered {
        margin: 0  -20px;
    }

    #heading.fifth-nav .logo-wrapper,
    #heading.four-nav .logo-wrapper {
        padding: 30px 0 !important;
        width: 100% !important;
        text-align: center;
    }

    #heading.second-nav .logo-wrapper {
        padding: 0 10px 0 20px;
        max-width: 135px;
    }

    /** logo **/
    #heading .logo-wrapper .logo-desktop {display: none;}
    #heading .logo-wrapper .logo-mobile {display: inline-block;}

    /** navigation menu mobile **/
    #heading .mobile-navigation {
        display: block !important;
    }

    #heading.second-nav .mobile-navigation {
        float: right;
    }

    #heading .navigation {
        display: none;
    }

    #heading .mobile-menu .sub-menu {
        display: none;
    }

    #heading.second-nav .nav-search:before {
        left: auto;
        right: 0;
    }

    /** Highlight Slider **/
    .highlightslider .slide-overlay { height: 425px; }
    .highlightslider .slider-excerpt { padding: 20px; width: 60%; }
    .highlightslider .slider-excerpt h2 { font-size: 20px; line-height: 1.4; width: 100%; }
    .highlightslider .slider-excerpt .line { margin: 15px auto;}
    .highlightslider .slider-excerpt p {display: none}
    .highlightslider .readmore {padding: 5px 20px;}

    /* Full Slider */
    .fullslider .slider-excerpt {padding: 20px 0;line-height: 1;}
    .fullslider .slider-excerpt .meta-category {display: block;margin-bottom: 8px;}
    .fullslider .slider-excerpt h2 {font-size: 17px;line-height: 1.2em;padding: 0 20px;}
    .fullslider .slider-excerpt h2:after {margin-bottom: 0;}

    /* stack slider */
    .firststack .stackwrapper h2 {
        width: 100%;
    }

    .secondstack .stackmeta {
        display: none;
    }

    .secondstack .stackwrapper h2 {
        font-size: 17px;
    }

    .firststack {
        width: 60%;
    }

    .secondstack {
        width: 40%;
    }

    #heading.second-nav .sidefeed-toggle:before {
        left: auto;
        right: 0;
    }

    #search-overlay .searchform #s {
        font-size: 36px;
    }

    .content-share-follow {
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }

    .content-share-follow .social-sharing > div {
        display: inline-block;
    }

    .post_format-post-format-video.full-content .entry,
    .post_format-post-format-audio.full-content .entry,
    .full-content.has-post-thumbnail .entry,
    .post_format-post-format-gallery.full-content .entry,
    .full-content .entry {
        padding: 0 10px;
        width: 100%;
    }

    .content-share-wrapper,
    .post_format-post-format-video.full-content .content-share-wrapper,
    .post_format-post-format-audio.full-content .content-share-wrapper {
        margin-bottom: 0;
    }

    article.classic-post.classic-left .content-meta-bottom,
    article.classic-post.classic-right .content-meta-bottom {
        text-align: center;
    }

    .sliderwrap h2 {
        font-size: 23px;
    }

    .widget.widget_jeg_last_post .feature-holder {
        float: none;
        max-width: 100%;
    }

    .disableoverlay.latest-post .feature-holder {
        float: left;
        max-width: 110px;
    }

    #heading .nav-search {
        margin-left: 20px;
    }

    #heading .nav-search {
        border-right: 0;
    }

    #heading .side-woocommerce,
    #heading.sixth-nav .side-woocommerce {
        position: relative;
        right: auto;
        float: right;
        margin-right: 0;
    }


    #heading.sixth-nav .sidefeed-toggle {
        position: relative;
        border-left: 1px solid #eaeaea;
    }

    #heading.sixth-nav .nav-container .nav-social,
    #heading.sixth-nav .nav-container .nav-search {
        float: right;
    }

    #heading.sixth-nav .nav-header .logo-wrapper {
        width: 100%;
    }

    #heading.sixth-nav .nav-header .nav-social,
    #heading.sixth-nav .nav-header .nav-search {
        display: none;
    }

    #heading.sixth-nav .nav-wrapper .nav-search {
        display: block;
    }


    .boxed .popular3 .popular-item,
    .popular3 .popular-item {
        width: 226px;
    }

    .popular-item-wrapper em {
        display: none;
    }

    .popular-item-wrapper h3 {
        font-size: 19px;
    }

    .popular-item-content {
        margin-top: -4px;
    }

    #wrapper.boxed .full-content .entry {
        width: 100%;
    }


    .popular-item-wrapper {
        top: 10px;
        bottom: 10px;
        left: 10px;
        right: 10px;
    }


}

@media only screen and (max-width:799px) {

    #wrapper.boxed {
        margin: 0;
        padding: 0;
    }

    .admin-bar .sticky .nav-container {
        top: 46px;
    }

}

@media only screen and (max-width:768px) {

    .boxed .popular3 .popular-item, .popular3 .popular-item {
        width: 31.333%;
        margin-right: 3%;
    }

    .popular-item-wrapper em {
        display: none;
    }

    .popular-item-wrapper h3 {
        font-size: 16px;
    }




}

@media only screen and (max-width:600px) {

    .popular-category-wrapper {
        white-space: nowrap;
        width: 100%;
        overflow-x: auto;
        overflow-y: visible;
    }

    .boxed .popular3 .popular-item,
    .popular3 .popular-item {
        width: 80% !important;
        height: 100% !important;
        float: none;
        display: inline-block;
    }

    .popular-item-wrapper em {
        display: inline-block;
    }

    .popular-item-wrapper h3 {
        font-size: 19px;
    }

    .popular-item-content {
        margin-top: 0;
    }

}

@media only screen and (max-width:768px) {

    #popular-slider,
    #featured-slider,
    .boxed #featured-slider,
    .boxed #popular-slider {
        width: 100%;
    }

    .boxed #featured-slider,
    #popular-slider,
    #featured-slider {
        margin: 0;
    }

    #heading .nav-search {margin-left: 0px;}

    #wrapper.boxed, .boxed .nav-container .nav-wrapper  {
        width: auto;
    }

    .container, .boxed .container {
        width: auto;
        padding: 0 20px;
    }

    .nav-container .container {
        padding: 0;
    }

    .boxed .fullslider .container, .fullslider .container {
        padding: 0 20px;
    }

    .second-footer .footer-bottom {
        text-align: center;
    }

    .second-footer .social-copy,
    .second-footer .footer-nav {
        float: none;
    }

    .second-footer .gototop {
        display: none;
    }

    .second-footer .social-copy {
        padding-bottom: 10px;
    }

    .highlightslider .slide-overlay {
        height: 100%;
    }

    .highlightslider .readmore {
        font-size: 9px;
    }

    .related {
        display: none;
    }


    #wrapper.boxed .full-content .entry,
    .full-content .entry,
    .fullwidth .entry p img,
    .entry p img {
        width: 100%;
    }

    .entry p, .entry h1, .entry h2, .entry h3, .entry h4, .entry h5, .entry h6, .entry hr {
        margin: 20px 10px;
    }

    .author-socials {
        position: relative;
        text-align: center;
        width: 100%;
        top: 0;
        left: 0;
        margin-top: 20px;
    }

    .author-socials a {
        color: #555;
        font-size: 17px;
    }

    .sharing > div {
        border: none;
    }

    #search-overlay .search-overlay-inner {
        width: 45%;
    }
    #search-overlay .searchform #s {
        font-size: 28px;
    }
    #search-overlay p {
        font-size: 14px;
        line-height: 1.8em;
    }

    #footer-instagram .instagram-pics li {
        width: 25%;
    }

    .post_format-post-format-video.full-content .entry,
    .post_format-post-format-audio.full-content .entry,
    .full-content.has-post-thumbnail .entry,
    .post_format-post-format-gallery.full-content .entry,
    .full-content .entry {
        padding: 0;
    }

    .sliderwrap .slider-featured-content {
        padding: 10px 30px 15px;
    }

    .sliderwrap .slider-excerpt {
        bottom: 60px;
    }

    #featured-slider.owl-theme .owl-controls .owl-buttons div {
        height: 30px;
        bottom: 30px;
    }

    #featured-slider.owl-theme .owl-controls .owl-buttons div:after {
        line-height: 30px;
    }

    .sliderwrap h2 {
        font-size: 17px;
    }

    .sliderwrap .meta-category {
        display: none;
    }

    article.classic-post.classic-left .feature-holder, article.classic-post.classic-right .feature-holder {
        max-width: 100%;
    }

    article.classic-post.classic-left .content-classic-wrapper,
    article.classic-post.classic-right .content-classic-wrapper,
    article.classic-post.classic-center .content-classic-wrapper {
        width: auto;
        left: 0;
        right: 0;
        bottom: 0;
        transform: none;
        position: relative;
        top: 0;
        display: inline-block;
        margin-top: -160px;
        margin-left: 20px;
        margin-right: 20px;
    }

    article.classic-post.classic-right .feature-holder {
        float: none;
    }

    article.classic-post.classic-right .content-header-single,
    article.classic-post.classic-right .entry,
    article.classic-post.classic-left .content-header-single,
    article.classic-post.classic-left .entry{
        text-align: center;
    }

    #heading .side-woocommerce {
        position: static !important;
    }

    .side-woocommerce .shopping_cart_inner {
        width: 100%;
        box-sizing: border-box;
    }

    .related-popup {
        display: none;
    }


}

@media only screen and (max-width:640px) {

    .subscribe-footer .sml_emailinput {
        width: 100%;
        display: block;
        margin-bottom: 10px;
    }

    .post-container .sidebar-container {
        -webkit-columns: auto;
        -moz-columns: auto;
        columns: auto;
    }

    .prevnext-post .post {
        width: 100%;
        padding: 20px 0;
        display: block;
    }

    .prevnext-post .next-post {
        border: 0;
        border-top: 1px solid #eaeaea;
    }

    .related-post-bottom .item {
        margin-bottom: 30px;
    }

    .one-half, .one-third, .two-third, .one-forth, .one-fifth {
        margin-right: 0;
        width: 100%;
        overflow: hidden;
    }

    .widget .widget-title span::after, .widget .widget-title span::before {
        top: 8px;
    }

    .widget_jeg_facebook_fans_widget .blog-fb-likebox {
        padding: 0;
    }

    .jr-insta-thumb .jr_col_3 > li, .jr-insta-thumb .jr_col_4 > li, .jr-insta-thumb .jr_col_5 > li, .jr-insta-thumb .jr_col_6 > li, .jr-insta-thumb .jr_col_7 > li, .jr-insta-thumb .jr_col_8 > li, .jr-insta-thumb .jr_col_9 > li, .jr-insta-thumb .jr_col_10 > li {
        width: 50% !important;
    }

    .footer-widget > .container > div {
        margin-top: 20px;
    }

    /** stack wrapper */

    .stackwrapper {
        padding: 20px;
    }

    .firststack, .secondstack {
        width: 100%;
        float: none;
    }

    .childstack {
        height: 200px;
    }

    .firststack .stackwrapper h2,  .secondstack .stackwrapper h2 {
        font-size: 16px;
    }

    .secondstack .stackmeta {
        display: block;
    }

    /* Highlight Slider */
    .highlightslider .slider-excerpt { width: 65%; }
    .highlightslider .slider-excerpt h2 { font-size: 18px; }
    .highlightslider .readmore {margin-top: 0;}
    .highlightslider .slider-excerpt p { display: none;}

    /* Full Slider */
    .full .fullslider .flexslider { max-width: 100%; }
    .fullslider .slider-excerpt { width: 60%; }
    .fullslider .slider-excerpt h2 { font-size: 18px; }

    .search-overlay-close {
        top: 12px;
        right: 15px;
        height: 24px;
        width: 24px;
    }
    .search-overlay-close::before, .search-overlay-close::after {opacity: 0.5}

    .woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals {
        width: 100%;
    }
}

@media only screen and (max-width:480px) {

    #sidefeed .post-thumb {
        width: 30%;
    }

    #sidefeed .post-content {
        margin-left: 30%;
        padding-left: 15px;
    }

    #sidefeed {width: 75%;}
    #sidefeed .post-content h3 {font-size: 11px;}

    article h1.content-title { font-size: 28px; line-height: 1.6em; }

    /* Full Slider */
    .fullslider .slider-excerpt { padding: 10px 0; }
    .fullslider .slider-excerpt h2 { font-size: 1em; padding: 0 10px; width: 100%; }
    .fullslider .slider-excerpt .meta-category { font-size: 8px; line-height: normal; }
    .fullslider .slider-excerpt h2:after {border-top-width: 1px; margin:10px auto 6px;}

    /* Highlight Slider */
    .highlightslider .flexslider {overflow: hidden;}
    .highlightslider .slider-excerpt h2 {font-size: 14px;margin:0 auto 10px;}
    .highlightslider .slider-excerpt .line {margin: 10px auto 5px;}
    .highlightslider .readmore {display: none;}

    /* Featured Content */
    .sliderwrap .slider-featured-content {padding: 15px 20px;}
    .sliderwrap .content-author {margin: 0px 20px 15px}
    .sliderwrap h2 {font-size: 16px;}
    .sliderwrap .content-author h5 a {font-size: 12px;}
    .sliderwrap .content-author img {margin-right: 6px;}

    /* Stack Content */
    .stackwrapper { padding: 12px 20px !important; }
    .stackwrapper h2, .firststack .stackwrapper h2, .secondstack .stackwrapper h2 { font-size: 14px; }
    .stackwrapper .stackmeta {margin-top: 5px;}

    h1 { font-size: 38px; line-height: 1.4em; }
    h2 { font-size: 34px; line-height: 1.4em; }
    h3 { font-size: 28px; line-height: 1.4em; }
    h4 { font-size: 24px; line-height: 1.4em; }
    h5 { font-size: 20px; line-height: 1.4em; }
    h6 { font-size: 18px; line-height: 1.4em; }

    article .content-title a { font-size: 28px; }

    /** comment & author **/
    .author-box {
        text-align: center;
    }

    .author-box img {
        display: block;
        float: none;
        margin: 0 auto 20px;
    }

    .author-box-wrap {
        margin: 0;
    }

    #commentform p.comment-form-author,
    #commentform p.comment-form-email {
        float: none;
    }

    #commentform p.comment-form-author {
        width: auto;
    }

    #commentform p.comment-form-email {
        width: auto;
    }


    .commentlist li, .pinglist li {
        padding-left: 0;
    }

    .commentlist .comment-author img {
        display: none;
    }

    .commentlist li li {
        padding-left: 30px;
    }

    #respond #commentform {
        padding-top: 10px;
    }

    #cancel-comment-reply-link {
        border-bottom: 1px solid #ddd;
        color: #666;
        padding-bottom: 10px;
        padding-left: 0;
        position: relative;
        right: 0;
        text-align: center;
    }

    li.comment #respond #commentform {
        padding-top: 55px;
    }

    .commentlist li li .comment-meta {
        margin-bottom: 10px;
    }

    .commentlist .comment-author {
        margin-bottom: 0;
    }

    .subscribe-footer input {
        width: 80% !important;
        display: block;
        margin:0 auto;
    }

    article.classic-post.classic-left .content-classic-wrapper,
    article.classic-post.classic-right .content-classic-wrapper,
    article.classic-post.classic-center .content-classic-wrapper {
        margin-left: 10px;
        margin-right: 10px;
    }

    article.classic-post .entry {
        display: none;
    }

    article.classic-post h2.content-title a {
        font-size: 22px;
    }

    article.classic-post h2.content-title {
        line-height: 0.8em;
    }

    article.classic-post.classic-left .content-classic-wrapper,
    article.classic-post.classic-right .content-classic-wrapper,
    article.classic-post.classic-center .content-classic-wrapper {
        margin-top: -100px;
    }

    #heading.sixth-nav .nav-container .nav-social {
        display: none;
    }
}

@media only screen and (max-width:360px) {
    /* Full Slider */
    .fullslider .slider-excerpt h2 { font-size: 10px 12px; width: 70%; }
    .fullslider .slider-excerpt .meta-category { font-size: 6px; margin-bottom: 5px;}
    .highlightslider .slider-excerpt .line, .highlightslider .slider-excerpt .line:before, .highlightslider .slider-excerpt .line:after { width: 30px }
    .highlightslider .slider-excerpt .line { right: -5px }
    .highlightslider .slider-excerpt .line:before { left: -10px }
    .highlightslider .slider-excerpt .line:after { left: -15px }

    /* Highlight Slider */
    .highlightslider .slider-excerpt { padding: 10px }
    .highlightslider .slider-excerpt h2 { font-size: 12px; }


    /* Featured Content */
    .sliderwrap h2 {font-size: 13px;}

    /* Stack Content */
    .stackwrapper { padding: 12px !important; }
    .stackwrapper h2, .firststack .stackwrapper h2, .secondstack .stackwrapper h2 { font-size: 12px; }
    .stackwrapper .stackmeta {margin-top: 5px;}
    .stackwrapper .stackmeta {font-size: 8px; line-height: 1; margin: 8px 0 3px; }

    article h2.content-title { line-height: inherit; margin: 5px 0;}
    article .content-title a, article h1.content-title { font-size: 24px; line-height: 1.4em; }

    .content-meta-bottom {font-size: 10px;}
    .content-meta-bottom > div {
        width: 100%;
        padding: 8px 0;
        margin: 0;
        border-right: 0;
        border-top: 1px solid #f6f6f6;
    }

    #heading .nav-social {display: none;}
}