body {
    direction: rtl;
    unicode-bidi: embed;
}


#heading .navigation li.menu-item-has-children > a::after {
    right: 5px;
}

#heading.second-nav .navigation, #heading.second-nav .nav-search, #heading.second-nav .sidefeed-toggle {
    float: left;
}

#heading.second-nav .nav-search:before, #heading.second-nav .sidefeed-toggle:before, #heading.second-nav .side-woocommerce:before {
    left: auto;
    right: 0;
}

#heading.sixth-nav .side-woocommerce {
    left: 0;
    right: auto;
    margin-left: 0;
    border-left: 0;
    border-right: 1px solid #eaeaea;
}

#heading.sixth-nav .sidefeed-toggle {
    border-left: 1px solid #eaeaea;
    border-right: 0;
}

#heading.sixth-nav .navigation .sub-menu li a {
    text-align: right;
}

#heading.sixth-nav .nav-search {
    margin-right: 0;
}

#heading.sixth-nav .nav-search input {
    float: left;
}

#heading.sixth-nav .nav-header form::after {
    right: auto;
    left: 0;
}


#heading .navigation .sub-menu {
    right: 0;
}

#heading .navigation .sub-menu li a {
    text-align: right;
}

#heading .navigation .sub-menu .sub-menu {
    left: auto;
    top: -1px;
    right: 100%;
}

#heading .navigation .sub-menu li.menu-item-has-children > a:after {
    right: auto;
    left: 10px;
    content: "\f104";
}

#heading .nav-search {
    margin-right: 10px;
    margin-left: auto;
}

.sidefeed-toggle, .side-woocommerce {
    margin-right: auto;
    margin-left: 10px;
}

.side-woocommerce {
    float: left;
}

.side-woocommerce .shopping_cart_inner {
    left: 0;
    right: auto;
}

#heading .searchbox {
    left: 0;
    right: auto;
}


#heading .searchbox:before {
    right: auto;
    left: 14px;
}

#heading .searchbox:after {
    right: auto;
    left: 13px;
}


#popular-post .owl-nav div.owl-prev:after {
    content: "\f105";
}

#popular-post .owl-nav div.owl-next:after {
    content: "\f104";
}

/** slider **/

.fullslider .flex-direction-nav a.flex-next {
    right: 100%;
    left: auto;
    background: -moz-linear-gradient(left,  rgba(255,255,255,1) 0%, rgba(255,255,255,1) 42%, rgba(255,255,255,1) 55%, rgba(255,255,255,0) 100%);
    background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 42%,rgba(255,255,255,1) 55%,rgba(255,255,255,0) 100%);
    background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 42%,rgba(255,255,255,1) 55%,rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 );
}

.fullslider .flex-direction-nav a.flex-prev {
    right: -100%;
    left: auto;
    background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 45%, rgba(255,255,255,1) 58%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 45%,rgba(255,255,255,1) 58%,rgba(255,255,255,1) 100%);
    background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 45%,rgba(255,255,255,1) 58%,rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );
}

.fullslider .flex-direction-nav a.flex-next::before {
    content: '';
}

.fullslider .flex-direction-nav a.flex-prev::before {
    content: '';
}



article.classic-post.classic-left .feature-holder {
    float: left;
}

.content-classic-wrapper .content-meta-bottom > div {
    border-right: 0;
    border-left: 1px solid #eaeaea;
}